version: "3.9"

services:
  voice-service:
    container_name: voice-service
    image: ghcr.io/<SEU_USUARIO_GITHUB>/capibot-voice-service:latest
    restart: always
    ports:
      - "4002:4002"
    env_file:
      - .env